<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean id="user1" class="com.task4.User"
        init-method="MyInit">
        <constructor-arg type="java.lang.String" value="Sergey"/>
        <constructor-arg type="int" value="30"/>
        <property name="status" value="worker"/>
        <property name="woman" value="false"/>
    </bean>

    <bean id="user2" class="com.task4.User"
        init-method="MyInit">
        <constructor-arg type="java.lang.String" value="Kira"/>
        <constructor-arg type="int" value="20"/>
        <property name="status" value="student"/>
        <property name="woman" value="true"/>
    </bean>


    <util:map id ="mapUser" map-class="java.util.HashMap">
        <entry key="125" value-ref="user1"/>
        <entry key="250" value-ref="user2"/>
    </util:map>


</beans>


